@import url("./fonts/pt_sans.css");

img {
  max-width: 100%;
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 29px;
}
.content__item {
  width: 100%;
  margin-bottom: 29px;
  position: relative;
}
.content__item_half {
  width: 49%;
}
.content__item_main {
  padding-left: 40px;
}
.content__item_scenarios {
  padding-right: 40px;
}
.content__item-header {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.content__item-header_devices {
  padding-left: 40px;
  display: inline-block;
  margin-right: 11px;
}
#root {
  position: absolute;
  left: -10000px;
}
.devices {
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
  padding: 20px 0 6px 40px;
}
.devices__panel {
  margin-right: 15px;
}
.devices::after {
  content: '';
  display: inline-block;
  min-width: 25px;
}
.devices__paginator {
  position: absolute;
  top: 0;
  right: 40px;
}
.filter__select {
  display: none;
}
.filter__item-label {
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  font-weight: 700;
  background: #f7f7f7;
  min-height: 30px;
  padding: 8px 13px;
  border-radius: 15px;
  margin-right: 11px;
  cursor: pointer;
}
.filter__item-label:hover {
  background: #ffd93e;
}
.filter__item-radio {
  display: none;
}
.filter__item-radio:checked + label {
  background: #ffd93e;
}
.filter__item-radio_kitchen:checked ~ .devices .panel {
  display: none;
}
.filter__item-radio_kitchen:checked ~ .devices .panel_kitchen {
  display: flex;
}
.filter__item-radio_room:checked ~ .devices .panel {
  display: none;
}
.filter__item-radio_room:checked ~ .devices .panel_room {
  display: flex;
}
.panel_lamp {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='141.732' height='124.016'%3E%3Cdefs%3E%3Cpattern patternUnits='userSpaceOnUse' width='51.273' height='51.275' patternTransform='matrix(.8 0 0 -.8 18.974 445.22)' id='a'%3E%3Cpath d='M0 0h-1v-1c0-1.542-1.457-3-3-3h-4.586L-10-5.414V-6c0-1 1-2 2-2h5l3-3v3c1 0 2 1 2 2v4c0 1-1 2-2 2' fill='%231d1d1b' transform='matrix(1.25 0 0 -1.25 48.773 37.525)'/%3E%3Cpath d='M0 0h5c1 0 2 1 2 2v4c0 1-1 2-2 2h-8c-1 0-2-1-2-2V2c0-1 1-2 2-2v-3l3 3z' fill='%231d1d1b' transform='matrix(1.25 0 0 -1.25 37.523 41.275)'/%3E%3Cpath d='M111 343.021h-1v5h1v-5zm-2 0H98v1l11 3v-4zm-5.263-4.847a.51.51 0 0 0-.608-.361l-2.938.749a.5.5 0 0 0-.361.607l.322 1.266 3.891-1.061-.306-1.2zM109 349.021v-1l-11-3-2 1v-6l2 1 1.188-.324-.327-1.281a1.501 1.501 0 0 1 1.083-1.823l2.938-.748a1.5 1.5 0 0 1 1.824 1.082l.302 1.183 3.992-1.089v-1l3-1.021v13.96l-3-.939z' fill='%231d1d1b' transform='matrix(1.25 0 0 -1.25 -120 470)'/%3E%3Cpath d='M0 0l-5 5h3l-4 4h2l-4 4-4-4h2l-4-4h3l-5-5h6v-3h4v3h6z' fill='%231d1d1b' transform='matrix(1.25 0 0 -1.25 20 16.25)'/%3E%3Cg%3E%3Cpath d='M0 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m0 5c-1.654 0-3-1.346-3-3 0-.883.391-1.67 1-2.22V-5l2 2 2-2v4.78C2.609.33 3 1.117 3 2c0 1.654-1.346 3-3 3' fill='%231d1d1b' transform='matrix(1.25 0 0 -1.25 46.897 13.75)'/%3E%3Cpath d='M0 0h-4.691v12H.895l3-3h2.414v.414L1.723 14h-8.414V-2h8.605L.037-.04 0 0z' fill='%231d1d1b' transform='matrix(1.25 0 0 -1.25 40.262 17.5)'/%3E%3Cpath d='M-24 267h-5v-1h5v1zM-24 265h-5v-1h5v1zM-29 262h5v1h-5v-1z' fill='%231d1d1b' transform='matrix(1.25 0 0 -1.25 71.897 340)'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Cg fill='%232c3e50' fill-opacity='.322'%3E%3Cpath d='M26.547 109.388h-1.25v-6.25h1.25v6.25zm-2.5 0h-13.75v-1.25l13.75-3.75v5zm-6.579 6.059a.637.637 0 0 1-.76.451l-3.673-.936a.625.625 0 0 1-.45-.759l.402-1.582 4.863 1.326-.382 1.5zm6.579-13.559v1.25l-13.75 3.75-2.5-1.25v7.5l2.5-1.25 1.485.405-.409 1.601a1.877 1.877 0 0 0 1.354 2.28l3.672.934a1.875 1.875 0 0 0 2.28-1.352l.378-1.48 4.99 1.362v1.25l3.75 1.276v-17.45l-3.75 1.174zM27.797 53.297l-6.25-6.25h3.75l-5-5h2.5l-5-5-5 5h2.5l-5 5h3.75l-6.25 6.25h7.5v3.75h5v-3.75zM60.57 74.493h-1.25v1.25c0 1.928-1.822 3.75-3.75 3.75h-5.733l-1.768 1.768v.732c0 1.25 1.25 2.5 2.5 2.5h6.25l3.75 3.75v-3.75c1.25 0 2.5-1.25 2.5-2.5v-5c0-1.25-1.25-2.5-2.5-2.5'/%3E%3Cpath d='M49.32 78.243h6.25c1.25 0 2.5-1.25 2.5-2.5v-5c0-1.25-1.25-2.5-2.5-2.5h-10c-1.25 0-2.5 1.25-2.5 2.5v5c0 1.25 1.25 2.5 2.5 2.5v3.75zM58.694 19.601a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0-6.25a3.755 3.755 0 0 0-3.75 3.75 3.73 3.73 0 0 0 1.25 2.775v5.975l2.5-2.5 2.5 2.5v-5.975a3.73 3.73 0 0 0 1.25-2.775 3.755 3.755 0 0 0-3.75-3.75'/%3E%3Cpath d='M52.058 23.351h-5.863v-15h6.982l3.75 3.75h3.018v-.517L54.212 5.85H43.695v20H54.45l-2.346-2.45-.047-.05z'/%3E%3Cpath d='M53.694 12.101h-6.25v1.25h6.25v-1.25zM53.694 14.601h-6.25v1.25h6.25v-1.25zM47.444 18.351h6.25v-1.25h-6.25v1.25z'/%3E%3Cg%3E%3Cpath d='M95.71 47.303h-1.25v-6.25h1.25v6.25zm-2.5 0H79.46v-1.25l13.75-3.75v5zm-6.578 6.058a.637.637 0 0 1-.76.452l-3.673-.937a.625.625 0 0 1-.451-.758l.403-1.583 4.863 1.326-.382 1.5zm6.579-13.558v1.25l-13.75 3.75-2.5-1.25v7.5l2.5-1.25 1.485.405-.41 1.6a1.877 1.877 0 0 0 1.355 2.28l3.672.935a1.875 1.875 0 0 0 2.28-1.352l.378-1.48 4.99 1.362v1.25l3.75 1.276v-17.45l-3.75 1.174z'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M96.669 115.179l-6.25-6.25h3.75l-5-5h2.5l-5-5-5 5h2.5l-5 5h3.75l-6.25 6.25h7.5v3.75h5v-3.75h7.5z'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M130.405 13.529h-1.25v1.25c0 1.927-1.821 3.75-3.75 3.75h-5.732l-1.768 1.767v.733c0 1.25 1.25 2.5 2.5 2.5h6.25l3.75 3.75v-3.75c1.25 0 2.5-1.25 2.5-2.5v-5c0-1.25-1.25-2.5-2.5-2.5'/%3E%3Cpath d='M119.155 17.279h6.25c1.25 0 2.5-1.25 2.5-2.5v-5c0-1.25-1.25-2.5-2.5-2.5h-10c-1.25 0-2.5 1.25-2.5 2.5v5c0 1.25 1.25 2.5 2.5 2.5v3.75l3.75-3.75z'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M131.447 82.604a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0-6.25a3.755 3.755 0 0 0-3.75 3.75 3.73 3.73 0 0 0 1.25 2.775v5.975l2.5-2.5 2.5 2.5v-5.975a3.73 3.73 0 0 0 1.25-2.775 3.755 3.755 0 0 0-3.75-3.75'/%3E%3Cpath d='M124.811 86.354h-5.864v-15h6.983l3.75 3.75h3.017v-.518l-5.732-5.732h-10.518v20h10.757l-2.347-2.45-.046-.05z'/%3E%3Cpath d='M126.447 75.104h-6.25v1.25h6.25v-1.25zM126.447 77.604h-6.25v1.25h6.25v-1.25zM120.197 81.354h6.25v-1.25h-6.25v1.25z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 40px;
  width: 100%;
  height: 60px;
  font-size: 12px;
}
.footer__link {
  margin-right: 20px;
}
.header {
  width: 100%;
  height: 92px;
  padding: 0 40px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  background: #fff;
}
.link, .link:active, .link:visited {
  color: rgba(51, 51, 51, 0.6);
}
.link {
  text-decoration: none;
}
.link_active, .link:hover {
  color: inherit;
}
.logo {
  display: inline-block;
  width: 108px;
  height: 27px;
  position: relative;
  background-image: url("./assets/logo.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
.logo__ya {
  display: block;
  position: absolute;
  z-index: 10;
  outline: 0;
  height: 100%;
  width: 69px;
  left: 0;
  top: 0;
}
.logo__ya-sub {
  display: block;
  position: absolute;
  z-index: 5;
  outline: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.main {
  height: 331px;
  border-radius: 20px;
  padding: 0 20px 0 25px;
  display: flex;
  justify-content: space-between;
  background: url("assets/sh.webp") center center/cover no-repeat;
}
.main__greeting {
  margin-top: 6px;
  font-size: 27px;
  font-weight: 700;
}
.main__info {
  width: 61.585%;
  padding-top: 20px;
  padding-left: 20px;
  background: rgba(255,255,255,0.6);
}
.main__panel {
  margin-bottom: 14px;
  position: relative;
}
.main__status {
  margin-top: 6px;
  line-height: 16px;
}
.main__upcoming {
  width: 220px;
  height: 100%;
  overflow-y: scroll;
}
.main__upcoming-wrapper {
  width: 200px;
  height: 100%;
  overflow: hidden;
}
.main__weather {
  margin-top: 25px;
}
.menu {
  margin-left: 52px;
}
.menu__icon {
  display: none;
}
.menu__item {
  margin-right: 27px;
  font-size: 16px;
  font-weight: 700;
}
.menu__list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}
.modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(51, 51, 51, 0.5);
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
.page {
  height: 100%;
  font: 14px Arial, sans-serif;
  color: #333;
  line-height: 1.143;
  margin: 0 auto;
  padding: 0;
  width: 1366px;
}
.page__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page__wrapper-content {
  flex: 1 0 auto;
}
.paginator {
  height: 16px;
  width: 47px;
  display: flex;
  justify-content: space-between;
}
.paginator div {
  width: 16px;
}
.paginator__arrow {
  opacity: 1;
  cursor: pointer;
}
.paginator__arrow:hover {
  opacity: 0.5;
}
.paginator__arrow:active {
  opacity: 0.3;
}
.paginator__arrow_disabled {
  opacity: 0.3;
}
.panel {
  padding: 14px;
  min-height: 100px;
  width: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  background: #f7f7f7;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
}
.panel:hover {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}
.panel_device {
  height: 120px;
}
.panel_first {
  margin-top: 20px;
}
.panel__sub {
  font-size: 12px;
  color: #858585;
}
.panel__title {
  font-weight: 700;
  margin-bottom: 4px;
}
.scenarios {
  max-height: 331px;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
}
.scenarios__page {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 100px);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  justify-content: space-between;
  margin-right: 15px;
}
.scenarios__paginator {
  position: absolute;
  top: 0;
  right: 40px;
}
.weather {
  display: flex;
}
.weather__item {
  margin-right: 18px;
}
.weather__item-title {
  color: #858585;
  margin-bottom: 4px;
}
.weather__item-temp {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  font-family: "PT Sans Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.weather__item_outside {
  padding-right: 31px;
}
.weather__item_cloud-drizzle {
  background: url("assets/cloud-drizzle.png") 100% 70%/26px no-repeat;
}
.stats {
  opacity: 0;
}
.panel__icon {
  width: 24px;
  height: 24px;
}
.panel__icon_temp_off {
  background: url("assets/panel__icon_temp_off.svg") center center/contain no-repeat;
}
.panel__icon_temp_on {
  background: url("assets/panel__icon_temp_on.svg") center center/contain no-repeat;
}
.panel__icon_light_off {
  background: url("assets/panel__icon_light_off.svg") center center/contain no-repeat;
}
.panel__icon_light_on {
  background: url("assets/panel__icon_light_on.svg") center center/contain no-repeat;
}
.panel__icon_clock {
  background: url("assets/panel__icon_clock.svg") center center/contain no-repeat;
}
